---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-lambda-function-name,
  -bugprone-branch-clone,
  misc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  concurrency-*,
  modernize-*,
  -modernize-loop-convert,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*,
  google-*,
  -google-readability-namespace-comments,
  -google-readability-todo,
  hicpp-*,
  -hicpp-uppercase-literal-suffix,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -hicpp-named-parameter,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-convert-member-functions-to-static,
  -readability-qualified-auto,
  cert-*
  -cert-dcl21-cpp

CheckOptions:
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
