---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-lambda-function-name,
  -bugprone-branch-clone,
  misc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  concurrency-*,
  modernize-*,
  -modernize-loop-convert,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  cppcoreguidelines-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  performance-*,
  -performance-unnecessary-value-param,
  -performance-no-int-to-ptr,
  portability-*,
  google-*,
  -google-readability-namespace-comments,
  -google-readability-todo,
  hicpp-*,
  -hicpp-uppercase-literal-suffix,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -hicpp-no-malloc,
  -hicpp-named-parameter,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-else-after-return,
  -readability-inconsistent-declaration-parameter-name,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -readability-suspicious-call-argument,
  -readability-named-parameter,
  -readability-convert-member-functions-to-static,
  -readability-qualified-auto,
  -readability-redundant-member-init,
  -readability-container-data-pointer,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
  cert-*

# disabled: OpenSim contains memory-leaking code that I cannot disable :<
# WarningsAsErrors: "*"
