# mac OS file
.DS_Store

# opensim logs
**/opensim.log

# build artifacts from docs build
docs/build

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# QtCreator
*.autosave

# Visual Studio
.vs/
CMakeSettings.json
out/

# Visual Studio Code user directory
.vscode/

# artefacts/side-effects from the OSC build script
dependencies-install/
opensim-build/
opensim-dependencies-build/
opensim-dependencies-install/
opensim-install/
osc-build/
osc-dependencies-build/
osc-dependencies-install/
