# configuration: side-effects from cmake customization
third_party/imgui/CMakeLists.txt
third_party/imgui/imguiConfig.cmake.in
third_party/implot/CMakeLists.txt
third_party/implot/implotConfig.cmake.in

# build: artifacts/side-effects
build/
docs/build
docs/venv
third_party-build/
third_party-install/

# build: intermediate/output files
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# runtime: opensim log files
**/opensim.log

# os: MacOS filesystem
.DS_Store

# LSP: `clangd` may create this (it does with nvim)
.cache/

# editor: QtCreator
*.autosave
CMakeLists.txt.user

# editor: Visual Studio
.vs/
CMakeSettings.json
out/

# editor: Visual Studio Code
.vscode/

# editor: CLion
.idea/

