[submodule "third_party/ImGuizmo"]
	path = third_party/ImGuizmo
	url = https://github.com/ComputationalBiomechanicsLab/ImGuizmo
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
