[Desktop Entry]
Name=OpenSim Creator
Comment=OpenSim Creator GUI Application
TryExec=/opt/osc/bin/osc
Exec=/opt/osc/bin/osc
Icon=/opt/osc/resources/OpenSimCreator/textures/osc.svg
Type=Application
Keywords=OpenSim
