[Desktop Entry]
Name=OpenSim Creator
Comment=OpenSim Creator GUI Booter
TryExec=/opt/osc/bin/osc
Exec=/opt/osc/bin/osc
Icon=/opt/osc/resources/textures/logo.png
Type=Application
Keywords=OpenSim
