on: [push]

jobs:

  windows_amd64:
    name: Windows (amd64)
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4

    - name: Build Dependencies
      shell: cmd
      run: |
        cd /d "%GITHUB_WORKSPACE%"
        call scripts\env_visual-studio.bat
        cd third_party
        cmake --workflow --preset oscar_third-party_Release
    
    - name: Build oscar
      shell: cmd
      run: |
        cd /d "%GITHUB_WORKSPACE%"
        call scripts\env_visual-studio.bat
        cmake --workflow --preset oscar_Release

  ubuntu22_amd64:
    name: Ubuntu 22.04 (amd64)
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Setup system
      run: cd $GITHUB_WORKSPACE && ./scripts/setup_ubuntu22_ci.sh

    - name: Run Build Script
      run: cd $GITHUB_WORKSPACE && ./scripts/e2e_build_ubuntu22.sh

  macos_universal:
    name: MacOS (universal?)
    runs-on: macos-14
    env:
        CTEST_PARALLEL_LEVEL: 1
    steps:
    - uses: actions/checkout@v4

    - name: run build script
      run: cd $GITHUB_WORKSPACE && ./scripts/e2e_build_mac.sh
