on: [push]

env:
  # Bake a GitHub build ID into the binary so that there's a way of looking
  # up the build logs for a build via GitHub Actions' UI/API.
  OSC_BUILD_ID: "GITHUB_${{ github.run_id }}.${{ github.run_number }}"

jobs:

  windows_amd64:
    name: Windows (amd64)
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4

    - name: build
      shell: cmd
      # use subst to hack around Windows path length issues
      run: |
        subst X: %GITHUB_WORKSPACE%
        cd /d X:
        scripts\ci_build_windows.bat Release-Windows-amd64

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-windows-amd64-msi
        path: build/Release-Windows-amd64/*windows-amd64.msi
        if-no-files-found: error

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-windows-amd64-zip
        path: build/Release-Windows-amd64/*windows-amd64.zip
        if-no-files-found: error

  macos_amd64:
    name: MacOS (amd64)
    runs-on: macos-14
    env:
      CTEST_PARALLEL_LEVEL: 1
    steps:
    - uses: actions/checkout@v4

    - name: run build script
      run: cd $GITHUB_WORKSPACE && ./scripts/ci_build_unix.sh Release-MacOS-amd64

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-macos-amd64-dmg
        path: build/Release-MacOS-amd64/*.dmg
        if-no-files-found: error

  macos_arm64:
    name: MacOS (arm64)
    runs-on: macos-14
    env:
      CTEST_PARALLEL_LEVEL: 1
    steps:
    - uses: actions/checkout@v4

    - name: run build script
      run: cd $GITHUB_WORKSPACE && ./scripts/ci_build_unix.sh Release-MacOS-arm64

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-macos-arm64-dmg
        path: build/Release-MacOS-arm64/*.dmg
        if-no-files-found: error

  ubuntu22_amd64:
    name: Ubuntu 22.04 (amd64)
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: setup system
      run: cd $GITHUB_WORKSPACE && sudo apt-get install $(sed 's/#.*//' "docker/ubuntu22_apt.txt" | xargs)

    # Use `xvfb-run` so that the UI tests can run against a virtual windowing system
    # Use `gcc` 12, because OpenSim Creator uses C++20, which is a bit new for Ubuntu 22.04
    - name: run build script
      run: cd $GITHUB_WORKSPACE && CC=gcc-12 CXX=g++-12 xvfb-run ./scripts/ci_build_unix.sh

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-ubuntu22-amd64-deb
        path: build/Release/*.deb
        if-no-files-found: error
