on: [push]

env:
  OSC_BUILD_DOCS: 1

jobs:
  windows2022msvc:
    name: Windows 2022 (MSVC)
    runs-on: windows-2022
    steps:

    - uses: actions/checkout@v4
      with:
        path: osc
        submodules: 'recursive'

    - name: run build_windows.py
      run: |
        cd $env:GITHUB_WORKSPACE\osc
        python scripts\\build_windows.py -j2 || exit /b

    - uses: actions/upload-artifact@v4
      with:
        name: OpenSimCreator_Win64.zip
        path: osc/osc-build/*win64.exe
        if-no-files-found: error

  ubuntu2004clang:
    name: Ubuntu 20.04 (clang)
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/checkout@v4
      with:
        path: osc
        submodules: 'recursive'

    - name: run build script
      run: |
        cd $GITHUB_WORKSPACE/osc
        sudo apt-get install xvfb  # virtual desktop, for tests
        export OSC_BUILD_CONCURRENCY=$(nproc)
        export CC=clang
        export CXX=clang++  # C++20 support (g++ on this CI node isn't new enough)
        xvfb-run ./scripts/build_debian-buster.sh

    - uses: actions/upload-artifact@v4
      with:
        name: OpenSimCreator_Deb.zip
        path: osc/osc-build/*.deb
        if-no-files-found: error

  ubuntu2004emscripten:
    name: Ubuntu 20.04 (emsdk)
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/checkout@v4
      with:
        path: osc
        submodules: 'recursive'

    - name: run build script
      run: |
        cd $GITHUB_WORKSPACE/osc
        ./scripts/build_emscripten.sh

  macos11clang:
    name: MacOS 13
    runs-on: macos-13
    steps:

    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: run build script
      run: |
        cd $GITHUB_WORKSPACE
        export OSC_BUILD_CONCURRENCY=$(sysctl -n hw.physicalcpu)
        ./scripts/build_mac.sh

    - uses: actions/upload-artifact@v4
      with:
        name: OpenSimCreator_MacOSX.zip
        path: osc-build/*.dmg
        if-no-files-found: error
