on: [push]

env:
  # Bake a GitHub build ID into the binary so that there's a way of looking
  # up the build logs for a build via GitHub Actions' UI/API.
  OSC_BUILD_ID: "GITHUB_${{ github.run_id }}.${{ github.run_number }}"

jobs:

  windows_amd64:
    name: Windows (amd64)
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4

    - name: build
      shell: cmd
      run: |
        cd /d "%GITHUB_WORKSPACE%"
        scripts\ci_build_windows.bat --skip-rendering-tests

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-windows-amd64-msi
        path: build/Release/*windows-amd64.msi
        if-no-files-found: error

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-windows-amd64-zip
        path: build/Release/*windows-amd64.zip
        if-no-files-found: error

  macos_amd64:
    name: MacOS (amd64)
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4

    - name: run build script
      run: cd $GITHUB_WORKSPACE && ./scripts/ci_build_mac-amd64.sh

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-macos-amd64-dmg
        path: build/*.dmg
        if-no-files-found: error

  macos_arm64:
    name: MacOS (arm64)
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4

    - name: run build script
      run: cd $GITHUB_WORKSPACE && bash ./scripts/ci_build_mac-arm64.sh

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-macos-arm64-dmg
        path: build/*.dmg
        if-no-files-found: error

  ubuntu22_amd64:
    name: Ubuntu 22.04 (amd64)
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: setup system
      run: cd $GITHUB_WORKSPACE && ./scripts/setup_ubuntu22_ci.sh

    - name: run build script
      run: cd $GITHUB_WORKSPACE && ./scripts/ci_build_ubuntu22.sh

    - uses: actions/upload-artifact@v4
      with:
        name: opensimcreator-ubuntu22-amd64-deb
        path: build/Release/*.deb
        if-no-files-found: error
